* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    color: #fff;
}
body {
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}
.header__inner {
    position: relative;
    display: flex;
    align-items: center;
}
.logo__image {
    display: flex;
    width: 120px;
    height: 23px;
    margin-left: 40px;
}
.header__menu {
    display: flex;
    height: 61px;
    margin-left: 84px;
}
.header__menu-list {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 50px;
}
.header__menu-list li:nth-child(4) {
    margin-left: 553px;
}
.header__menu-item {
    list-style: none;
}
.header__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.03em;
    color: #000;
    position: relative;
    transition: color 0.3s ease;
}
.header__menu-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}
.header__menu-link:hover {
    color: #ff4343;
}
.header__menu-link:hover::after {
    width: 100%;
}

.main {
    background: #121118;
}
.hero {
    position: relative;
    background: #100e14;
    padding-top: 90px;
    height: 1025px;
}
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 338px;
}
.hero__title {
    font-weight: 400;
    font-size: 63px;
    line-height: 116%;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 6px;
}
.hero__description {
    font-weight: 400;
    font-size: 28px;
    line-height: 129%;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 44px;
}
.button {
    border-radius: 8px;
    width: 281px;
    height: 66px;
    background: #ff4343;
    font-weight: 400;
    font-size: 23px;
    line-height: 115%;
    letter-spacing: 0.02em;
    margin-top: 73px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}
.button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(244, 68, 68, 0.3);
}
.hero__description-bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.03em;
    margin-top: 19px;
}
.hero__decor-laptop {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 60px;
    z-index: 1;
}
.hero__decor-mobile {
    position: absolute;
    left: 50%;
    transform: translate(60%);
    margin-top: 124px;
    z-index: 3;
}


.lesson {
    position: relative;
    padding-top: 210px;
    height: 691px;
}
.lesson__content {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 75px;
}
.lesson__title {
    font-weight: 400;
    font-size: 58px;
    line-height: 121%;
    letter-spacing: 0.04em;
    color: #fff;
}
.lesson__description {
    font-weight: 400;
    font-size: 26px;
    line-height: 145%;
    letter-spacing: 0.04em;
    padding-top: 38px;
    color: rgba(255, 255, 255, 0.5);
}
.lesson__decor-image {
    position: absolute;
    margin-left: 578px;
    margin-top: -450px;
    z-index: 2;
}


.camera {
    position: relative;
    height: 782px;
    padding-top: 180px;
}
.camera__decor-image {

    height: 422px;
    padding-left: 75px;
}
.camera__content {
    display: flex;
    align-items: center;
    height: 422px;
}
.camera__info {
    width: 645px;
    margin-left: 133px;
}
.camera__title {
    font-weight: 400;
    font-size: 58px;
    line-height: 121%;
    letter-spacing: 0.03em;
    color: #fff;
}
.camera__description {
    margin-top: 38px;
    font-weight: 400;
    font-size: 27px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.5);
}


.interactive {
    position: relative;
    height: 727px;
    padding-top: 180px;
}
.interactive__content {
    display: flex;
    align-items: center;
    padding-left: 75px;
}
.interactive__info {
    align-items: center;
    width: 618px;
    height: 291px;
}
.interactive__title {
    font-weight: 400;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #fff;
}
.interactive__description {
    margin-top: 38px;
    font-weight: 400;
    font-size: 27px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.5);
}
.interactive__decor-image {
    margin-left: 100px;
    width: 571px;
    height: 366px;
}


.social {
    position: relative;
    height: 710px;
    padding-top: 180px;
}
.social__content {
    display: flex;
    align-items: center;
    padding-left: 75px;
}
.social__info {
    width: 645px;
    margin-left: 100px;
}
.social__title {
    font-weight: 400;
    font-size: 58px;
    line-height: 121%;
    letter-spacing: 0.03em;
    color: #fff;
}
.social__description {
    margin-top: 38px;
    font-weight: 400;
    font-size: 25px;
    line-height: 151%;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.5);
}
.social__decor-image {
    width: 562px;
    height: 350px;
}


.personal {
    position: relative;
    height: 1157px;
    padding-top: 136px;
}
.personal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.personal__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personal__title {
    font-weight: 400;
    font-size: 61px;
    line-height: 136%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}
.personal__description {
    font-weight: 400;
    font-size: 26px;
    line-height: 145%;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.personal__info-line {
    width: 120px;
    height: 5px;
    margin-top: 36px;
    margin-bottom: 34px;
    background: #ff4343;
}
.personal__block {
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
    width: 1320px;
}


.reviews {
    position: relative;
    height: 1462px;
}
.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}
.reviews__spoiler {
    font-weight: 400;
    font-size: 22px;
    line-height: 109%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #8bffb0;
}
.reviews__title {
    font-weight: 400;
    font-size: 58px;
    line-height: 143%;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
}
.reviews__description {
    font-weight: 400;
    font-size: 27px;
    line-height: 145%;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 25px;
}
.reviews__image {
    width: 940px;
    height: 834px;
    margin-top: 70px;
}


.course {
    position: relative;
    height: 825px;
}
.course__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course__first-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 1120px;
    height: 433px;
    background: #1d1b24;
}
.course__title {
    font-weight: 400;
    font-size: 63px;
    line-height: 144%;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 66px;
}
.course__description {
    font-weight: 400;
    font-size: 27px;
    line-height: 135%;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
}
.course__button {
    margin-top: 70px;
}
.course__decor-image {
    display: flex;
    margin-top: 70px;
}


.features {
    position: relative;
    height: 979px;
    background: #0a0a0a;
}
.features__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 75px;
}
.features__blocks {
    display: flex;
    gap: 60px;
}
.features__title {
    font-weight: 400;
    font-size: 58px;
    line-height: 121%;
    letter-spacing: 0.03em;
    margin-top: 170px;
}
.features__info-block {
    display: flex;
    margin-top: 110px;
}
.features__info {
    width: 369px;
    border-radius: 0 10px 10px 0;
    padding-left: 30px;
    background: #85e9a5;
    border-top: 5px solid #5b5b5b;

}
.features__spoiler {
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #95fec1;
    margin-top: 30px;
}
.features__info-title {
    font-weight: 400;
    font-size: 29px;
    line-height: 124%;
    letter-spacing: 0.01em;
    margin-top: 17px;
}
.features__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.03em;
    margin-top: 23px;
}
.features__button {
    border-radius: 8px;
    width: 281px;
    height: 66px;
    background: #8bffb0;
    font-weight: 400;
    font-size: 23px;
    line-height: 115%;
    letter-spacing: 0.02em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 35px;
    cursor: pointer;
}

.features__button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(43, 105, 62);
}
.features__image {
    width: 246px;
}


.footer {
    background: #000;
}
.footer__content {
    display: flex;
    height: 433px;
}
.footer__logo {
    margin-top: 120px;
    margin-left: 75px;
}
.footer__block-social {
    display: flex;
    width: 838px;
    height: 193px;
    margin-top: 120px;
    margin-left: 245px;
    gap: 60px;
}
.footer__social-menu {
    width: 164px;
    height: 193px;
}
.footer__social-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 48px;
}
.footer__social-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.01em;
}
.footer__social-link {
    cursor: pointer;
}
.footer__social-link:hover {
    color: #68fc97;
    font-size: 17px;
}
.footer__social-links {
    width: 164px;
    height: 193px;
    display: flex;
    gap: 5px;
    cursor: pointer;
}
